.subscriptions-listing {
  &__item {
  }

  &__not-subscribers {
    @include flex-center;
    width: 100%;
    height: calc(100vh - 154px);

    & span {
      font-size: 16px;
      font-weight: 500;
      color: $text_color;
    }
  }
}