.tag-base {
  @include flex-center;
  gap: 8px;
  width: max-content;
  background: $bg_color;
  border-radius: 90px;
  padding: 8px 12px;
  color: $hint_color;
  cursor: pointer;

  &_active {
    background: $button_color;
    color: $button_text_color;
  }

  & span {
    font-size: 13px;
    font-weight: 400;
    line-height: 13px;
  }
}