.catalog-page {
  padding-top: 16px;

  &__search {
    margin-bottom: 16px;

    &_indentation {
      margin-bottom: 0;
    }
  }

  &__all-category {
    @include flex-start-center;
    gap: 6px;
    margin-bottom: 24px;
    color: $button_color;

    & span {
      font-size: 15px;
      font-weight: 400;
      line-height: 21px;
    }
  }
}