.functionality-card {
  position: relative;
  min-height: 143px;

  &:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 96px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 12px;
  }

  &_gradient {
    &:before {
      background-image: url("@/shared/assets/image/gradient-card.png");
    }
  }

  &__component {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 24px;
    height: 24px;
    color: $button_color;
  }

  &__component-icon {
    width: 100%;
    height: 100%;

    & path {
      fill: transparent;
      stroke: currentColor;
    }
  }


  &__content {
    @include flex-column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4px;
    width: 100%;
  }

  &__title {

    & span {
      font-size: 17px;
      font-weight: 500;
      line-height: 20px;
      color: $text_color;
    }
  }

  &__description {

    & span {
      font-size: 13px;
      font-weight: 400;
      line-height: 17px;
      color: $hint_color;
    }
  }
}