@import 'mixins';

.v-input {
  position: relative;

  &__label {
    position: relative;
    width: max-content;

    &.required::after {
      content: '*';
      position: absolute;
      top: 0;
      right: -10px;
      font-size: 20px;
    }
  }

  &__field-wrap {
    position: relative;
  }

  &__field {
    width: 100%;
    background-color: $secondary_bg_color;
    border: 1px solid $secondary_bg_color;
    border-radius: 8px;
    padding: 10px 10px 10px 36px;
    font-size: 13px;
    font-weight: 400;
    color: $text_color;

    &_border-color {
      border: 1px solid $secondary_dark_bg_color;
    }

    &::placeholder {
      color: $subtitle_text_color;
    }

    &:focus-visible {
      @include inputFocus;
    }
    &:hover {
      @include inputHover;
    }

    &:disabled {
      color: $hint_color;
      border-color: $hint_color;
      background-color: transparent;
    }
  }

  &__error {
    position: absolute;
    top: 100%;
  }

  &.error {
    .v-input__label {
      color: $destructive_text_color;
    }

    .v-input__field {
      color: $destructive_text_color;
      border-color: $destructive_text_color;

      &::placeholder {
        color: $destructive_text_color;
      }
    }
  }

  &__icon {
    position: absolute;
    top: 30%;
    width: 12px;
    height: 12px;

    &_left {
      left: 12px;
    }

    &_right {
      right: 12px;
      cursor: pointer;
    }
  }

  &.disabled {
    .v-input__label {
      color: $subtitle_text_color;
    }
  }
}