.bot-content-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(127px, 1fr));
  grid-gap: 1px;
  justify-items: center;

  @include adaptive(576) {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  @include adaptive(768) {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  @include adaptive(992) {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
  @include adaptive(1200) {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}