.catalog-listing {
  @include flex-column;
  gap: 14px;
  width: 100%;
  margin-bottom: 20px;

  &__head {
    @include flex-between-center;
    width: 100%;
  }

  &__title {
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    color: $style1;
  }

  &__route {
    @include flex-align-center;
    gap: 4px;
    color: $style3;

    & span {
      font-size: 13px;
      font-weight: 400;
      line-height: 17px;
    }
  }

  &__carousel-wrap {
    width: 100%;
    padding-left: 16px;
  }

  &__carousel {
    @include flex-justify-start;
    width: 100%;
  }

  &__item {
    @include flex-center;
    width: 171px;
    height: 100%;
  }
}