.purchase-history-list {
  position: relative;
  @include flex-column;
  gap: 16px;

  margin-top: 16px;
  padding-bottom: 86px;

  &__data {
    @include flex-column;
    gap: 4px;
  }

  &__info {
    @include flex-between-center;
  }

  &__info-total {
    font-size: 15px;
    font-weight: 500;
    line-height: 21px;
    color: $hint_color;
  }

  &__item {
    position: relative;

    &:not(:last-child):after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      width: calc(100% - 48px);
      height: 0.5px;
      background: $hint_color;
    }
  }

  &__empty {
    @include flex-center;
    height: calc(100vh - 326px);
    //min-height: 300px;

    & span {
      font-size: 15px;
      font-weight: 500;
      line-height: 21px;
      color: $text_color;
    }
  }

  &__loading {
    height: 100%;
    min-height: 300px;
  }
}