.card-arrow {
  position: relative;
  width: 100%;
  height: 64px;
  padding: 12px 0;

  &:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 0.5px;
    background: $hint_color;
  }

  &_border {
    &:after {
      width: calc(100% - 54px);
    }
  }

  &__wrapper {
    @include flex-between-center;
    width: 100%;
    height: 100%;
  }

  &__content {
    @include flex-start-center;
    gap: 12px;
    height: 100%;
  }

  &__image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  &__info {
    @include flex-column;
    justify-content: space-between;
    height: 100%;
  }

  &__title {
    font-size: 15px;
    font-weight: 400;
    color: $text_color;

    &_font-weight {
      font-weight: 500;
    }
  }

  &__post-name {
    font-size: 15px;
    font-weight: 500;
    color: $text_color;
  }

  &__text {
    font-size: 13px;
    font-weight: 400;
    line-height: 13px;
    color: $hint_color;

    &_color {
      color: $button_color;
    }
  }

  &__details{
    @include flex-center;
    gap: 10px;

    & span {
      position: relative;

      &:not(:last-child):after {
        content: '';
        position: absolute;
        top: 4px;
        right: -7px;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: $button_color;
      }
    }
  }

  &__icons {
    @include flex-center;
    gap: 6px;
  }

  &__icon {
    @include flex-end-center;
    width: 24px;
    color: $hint_color;
  }
}