.v-tabs {
  display: grid;
  gap: 4px;
  padding: 4px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid $hint_color;
  background: $secondary_bg_color;

  &__tab {
    cursor: pointer;
    user-select: none;
    border-radius: 6px;
    height: 100%;
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: $hint_color;

    &-icon {
      width: 16px;
      height: 16px;
    }

    &--active {
      background: $bg_color;
      color: $text_color;
    }
  }
}