.purchase-history-details {

  &__post {
    @include flex-start-center;
    gap: 12px;
    margin-top: 8px;
    padding: 12px;

    &-content {
      @include flex-column;
      gap: 2px;
    }

    &-access {
      font-size: 13px;
      font-weight: 400;
      line-height: 17px;
      color: $hint_color;
    }

    &-name {
      font-size: 15px;
      font-weight: 500;
      line-height: 21px;
      color: $text_color;
    }
  }

  &__content {
    position: relative;
    @include flex-column;
    gap: 24px;
    margin-top: 16px;
    padding: 12px;

    &-price {
      @include flex-between-center;
      width: 100%;
    }

    &-price-wrap {
      @include flex-start-center;
      gap: 12px;
    }

    &-price-title {
      font-size: 15px;
      font-weight: 400;
      line-height: 21px;
      color: $text_color;
    }

    &-price-text {
      font-size: 15px;
      font-weight: 500;
      line-height: 21px;
      color: $text_color;
    }

    &-date-expired {
      @include flex-between-center;
      width: 100%;

      & span {
        font-size: 13px;
        font-weight: 400;
        line-height: 17px;
        color: $hint_color;
      }
    }

    &-button {
      @include flex-align-center;
      gap: 6px;

      & span {
        font-size: 15px;
        font-weight: 400;
        line-height: 21px;
        color: $button_color;
      }
    }

    &-divider {
      position: absolute;
      top: 54%;
      right: 0;
      width: calc(100% - 16px);
      height: 0.5px;
      background: $hint_color;
    }
  }

  &__data {
    @include flex-between-center;
    width: 100%;
    margin-top: 8px;
    padding: 12px;

    &-wrapper {
      @include flex-start-center;
      gap: 12px;
    }

    &-title {
      font-size: 15px;
      font-weight: 400;
      line-height: 21px;
      color: $text_color;
    }

    &-text {
      font-size: 15px;
      font-weight: 400;
      line-height: 21px;
      color: $hint_color;
      text-align: end;
    }
  }

  &__status {
    @include flex-between-center;
    width: 100%;
    margin-top: 8px;
    padding: 12px;

    &-wrapper {
      @include flex-start-center;
      gap: 12px;
    }

    &-title {
      font-size: 15px;
      font-weight: 400;
      line-height: 21px;
      color: $text_color;
    }

    &-text {
      font-size: 15px;
      font-weight: 400;
      line-height: 21px;

      &_success {
        color: $success_text_color;
      }

      &_error {
        color: $destructive_text_color;
      }
    }
  }
}