$style1: #0F0A0A;
$style2: #5B616BFF;
$style3: #8D929A;
$style4: #F3F3F3;
$style5: #F4F4F4;
$style: #FFF;
$black: #000;

$grey-900: #101828;

$blue: #1A8FE3;
$blue-light: #D1E2F0;

$red: #E54B4B;
$green: #21A179;
