$style1: #0F0A0A;
$style: #FFF;
$black: #000;


$main-gradient:linear-gradient(116.89deg, #053E8A -2.96%, #2F80ED 61.2%, #2D9EE0 125.36%);

//$bg_color: var(--tg-theme-bg-color);
$bg_color: rgba(213, 213, 213, 0.89);
$secondary_bg_color: var(--tg-theme-secondary-bg-color);
$secondary_dark_bg_color: #303d4f;
$section_bg_color: var(--tg-theme-section-bg-color);

$header_bg_color: var(--tg-theme-header-bg-color);
$header_bg_color: var(--tg-theme-header-bg-color);
$section_header_text_color: var(--tg-theme-section-header-text-color);

$text_color: var(--tg-theme-text-color);
$accent_text_color: var(--tg-theme-accent-text-color);
$subtitle_text_color: var(--tg-theme-subtitle-text-color);
$destructive_text_color: var(--tg-theme-destructive-text-color);
$success_text_color: #21A14D;

$hint_color: var(--tg-theme-hint-color);
$link_color: var(--tg-theme-link-color);

$button_color: var(--tg-theme-button-color);
$button_secondary_color: #D1E2F0;
$button_text_color: var(--tg-theme-button-text-color);