.privacy-policy {
  width: 100%;
  background: $style5;
  padding-top: 12px;

  &__stepper {
    @include flex-align-center;
    gap: 4px;
    width: 100%;
    padding-bottom: 24px;
  }

  &__step {
    flex: 1;
    height: 4px;
    border-radius: 90px;
    background: $blue-light;

    &_active {
      background: $blue;
    }
  }

}