.bot-post-details-page {
  @include flex-column;
  width: 100%;
  height: 100vh;
  background-color: $bg_color;

  &::-webkit-scrollbar {
    display: none;
  }

  &__header {
  }

  &__content {
    flex: 1;
  }

  &__post-item {
  }
}