.bot-actions {
  @include flex-align-center;
  width: 100%;
  gap: 8px;

  &__button {
    height: 36px;

    & span {
      font-size: 13px;
      font-weight: 500;
      line-height: 19px;
    }
  }

  &__bookmark {
    @include flex-center;
    width: 48px;
    height: 36px;
    background: $button_secondary_color;
    padding: 2px 12px;
    border-radius: 8px;
  }
}