.navigation {
  position: sticky;
  bottom: 0;
  @include flex-align-center;
  background-color: $secondary_bg_color;
  width: 100%;
  min-height: 84px;

  & ul {
    @include flex-between-center;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  &__item {
    flex: 1;
    color: $hint_color;
    transition: color .3s linear;

    &:hover {
      color: $button_color;
    }

    &_active {
      color: $button_color;
    }

    & a {
      @include flex-column;
      align-items: center;
      gap: 4px;
    }

    & span {
      font-size: 10px;
      font-weight: 500;
      line-height: 12px;
    }
  }
}