.v-select {
  --vs-border-radius: 8px;

  position: relative;
  min-width: 100px;

  .vs {
    &__dropdown-toggle {
      height: 29px;
      background-color: $button_color;
      border: 1px solid $button_color;
      border-radius: 90px;
      padding: 0;
      color: $style;

      &[aria-expanded="true"] {
        width: 100%;
        background-color: $button_color;
        border-color: $style;
      }
    }

    &__dropdown-menu {
      background: $style;
      border: none;
      color: $style1;
    }

    &__actions {
      @include flex-align-center;
      gap: 4px;
      padding: 10px 11px 10px 0;
    }

    &__selected {
      font-size: 13px;
      font-weight: 400;
      line-height: 13px;
      color: $style;
      margin: 0;
      padding: 0 12px 0 8px;
    }

    &__search {
      margin: 0;
      padding: 0;
    }
  }

  &__arrow {
    width: 10px;
    height: 10px;
  }
}