.purchase-history-details-page {
  position: relative;
  @include flex-column-stretch;
  background: #F4F4F4;
  height: 100%;

  &__content {
    //height: 98%;
  }

  &__title {
    & span {
      font-size: 15px;
      font-weight: 400;
      line-height: 21px;
      color: $blue;
    }
  }

  &__button {
    @include flex-center;
    gap: 6px;
  }
}