.purchase-history-details-page {
  position: relative;
  background: #F4F4F4;
  height: 100%;

  &__content {
    height: 98%;
  }

  &__head {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
  }

  &__back {
    width: 24px;
    margin-right: auto;
  }

  &__title {
    flex: 1;
    text-align: end;

    & span {
      font-size: 15px;
      font-weight: 400;
      line-height: 21px;
      color: $blue;
    }
  }

  &__button {
    position: sticky;
    bottom: 84px;
    @include flex-center;
    height: 80px;
    background: $style;
    border-radius: 16px 16px 0 0;
    padding: 0 16px;
    margin-top: 10px;

    &-wrap {
      @include flex-center;
      gap: 6px;
    }
  }
}