.button-base {
  @include flex-center;
  width: 100%;
  border-radius: 8px;
  border: none;
  padding: 12px;
  color: $button_text_color;
  cursor: pointer;

  &_default {
    background: $button_color;
  }
  &_red {
    background: $destructive_text_color;
  }
  &_green {
    background: $success_text_color;
  }
  &_black {
    background: $style1;
  }
  &_blue-light {
    background: $blue-light;
    color: $blue;
  }

  &_disabled {
    opacity: 40%;
    pointer-events: none;
  }
}