.button-base {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 8px;
  border: none;
  padding: 12px;
  color: $style;
  cursor: pointer;

  &_default {
    background: $blue;
  }
  &_red {
    background: $red;
  }
  &_green {
    background: $green;
  }
  &_black {
    background: $style1;
  }

  &_disabled {
    opacity: 40%;
    pointer-events: none;
  }
}