.category-details-page {

  &__title {
    @include flex-column;
    gap: 2px;
  }

  &__amount-channel {
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
    color: $style3;
  }

  &__not-results {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 142px);

    & span {
      font-size: 15px;
      font-weight: 500;
      line-height: 21px;
      color: $style1;
    }
  }
}