.bot-empty-content {
  @include flex-center;
  width: 100%;
  height: calc(100vh - 342px);
  background-color: $secondary_bg_color;
  border-radius: 16px;
  padding: 0 49px;
  margin-bottom: 16px;

  & span {
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    color: $hint_color;
    text-align: center;
  }
}